/* Error: There is no module with the namespace "abstract".
 *    ,
 * 7  | /     @include abstracts.screen(lg) {
 * 8  | |         gap: 10px;
 * 9  | |         margin-left: 39px;
 * 10 | \     }
 *    '
 *   scss\components\_logo.scss 7:5  @forward
 *   scss\components\index.scss 1:1  root stylesheet */

body::before {
    font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
    white-space: pre;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid black;
    content: 'Error: There is no module with the namespace "abstract".\a    \2577 \a 7  \2502  \250c      @include abstracts.screen(lg) {\a 8  \2502  \2502          gap: 10px;\a 9  \2502  \2502          margin-left: 39px;\a 10 \2502  \2514      }\a    \2575 \a   scss\\components\\_logo.scss 7:5  @forward\a   scss\\components\\index.scss 1:1  root stylesheet';
}
