html.dark {
    --text-color: #ffffff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(7%)
        saturate(0%) hue-rotate(106deg) brightness(107%) contrast(107%);

    --header-bg: #171c28;
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;
}
