@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(3954%) hue-rotate(212deg) brightness(97%)
        contrast(96%);

    --header-bg: #eee;
    --footer-bg-color: var(--header-bg);
    --body-bg: #f6f6f6;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // dropdown
    --dropdown-bg: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // sidebar
    --sidebar-bg: #fff;

    --sidebar-shadow-bg: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // category
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-bg: #000;

    @include abstracts.screen(md) {
        -cate-item-bg: #fff;
    }

    //button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;

    // Products card
    --product-card-bg: #fff;
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);

    // filter form
    --filter-form-bg: #fff;
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg: #f8f8fb;

    // Auth
    --auth-content-bg: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Forms
    --form-placeholder-color: #d2d1d6;

    // Product detail
    --product-detail-bg: #fff;

    // Breadcrumbs
    --breadcrmbs-bg: #f6f6f6;
    --breadcrmbs-shadow: rgba(237, 237, 246, 0.2);
}
