<div class="container">
    <div class="top-bar">
        <!-- more -->
        <button class="top-bar__more">
            <img
                src="./assets/icons/more.svg"
                alt=""
                class="icon top-bar__more-icon"
            />
        </button>
        <!-- logo -->
        <a href="./" class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="Grocerymart"
                class="logo__img"
            />

            <h1 class="logo__title">grocerymart</h1>
        </a>

        <!-- navbar -->
        <nav class="navbar">
            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Departments
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>

                    <!-- dropdown -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <div class="top-menu">
                                <div class="top-menu__main">
                                    <!-- menu column  -->
                                    <div class="menu-column">
                                        <div class="menu-column__icon">
                                            <img
                                                src="./assets/img/categoris/cate-1.1.svg"
                                                alt=""
                                                class="menu-column__icon-1"
                                            />
                                            <img
                                                src="./assets/img/categoris/cate-1.2.svg"
                                                alt=""
                                                class="menu-column__icon-2"
                                            />
                                        </div>

                                        <div class="menu-column__content">
                                            <h2 class="menu-column__heading">
                                                All Departments
                                            </h2>
                                            <ul class="menu-column__list">
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Savings & Featured Shops
                                                    </a>
                                                    <div class="sub-menu">
                                                        Lorem ipsum dolor sit
                                                        amet consectetur
                                                        adipisicing elit.
                                                        Corporis porro est unde
                                                        sequi facilis dolorem
                                                        veniam nam tenetur
                                                        labore quia, nulla modi
                                                        architecto consequuntur
                                                        neque quisquam
                                                        blanditiis corrupti sunt
                                                        aperiam?
                                                    </div>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Electronics
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Clothing, Shoes &
                                                        Accessories
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Home, Furniture &
                                                        Appliances
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Home, Furniture &
                                                        Appliances
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Toys & Video Games
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                        href="#!"
                                                        class="menu-column__link"
                                                    >
                                                        Baby
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icons/arrow-down.svg"
                            alt=""
                            class="icon navbar__arrow"
                        />
                    </a>
                    <!-- dropdown -->
                </li>
            </ul>
        </nav>

        <!-- action -->
        <div class="top-act">
            <div class="top-act__group top-act__group--single">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                </button>
            </div>

            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/love.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">03</span>
                </button>

                <div class="top-act__separate"></div>

                <button class="top-act__btn">
                    <img
                        src="./assets/icons/cart.svg"
                        alt=""
                        class="icon top-act__icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img src="./assets/img/avt.jpg" alt="" class="top-act__avt" />
            </div>
        </div>
    </div>
</div>
